<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.github.ArtemYurov.TomoBar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tomobar</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/ArtemYurov/TomoBar/releases/latest/download/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>216000</integer>
	<key>SUPublicEDKey</key>
	<string>vIe2JDEyuBZHzM+mjSwQYSODEZX/8fYghjMvVk/tgMY=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
